body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
background-color: beige;
}




.navigazione{

    color: black;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav a {
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: flex-end;
}

h4{
    font-size: 60px;
    margin-top: 150px;
}

.testoherrera{
    font-size: 28px;
    display: flex;
      max-width: 880px;
      
      margin-left: 0px;
    
}


.herrera1e2{
    display: flex;
    gap: 80px;
}


.herrera3{
    border: 60;
    text-align: right;
    margin-top: -950px;
}

.herrera4{
    border: 60;
    text-align: right;
}

.herrera5{
    border: 60;
    text-align: right; 
}

footer p{
    font-family:  Helvetica;
    text-align: left;
    display: block;
   
}